body {
  background-color: hwb(30 70% 10%); /* Fondo pastel muy claro */
  font-family: 'Poppins', sans-serif;
  color: hwb(30 20% 20%); /* Texto base */
}


h1 {
  margin: 0;
  color: hwb(30 30% 30%); 
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
}


p {
  float: left;
  width: 14rem;
  height: 14rem;
  overflow: auto;
  border: hwb(30 35% 20%) 3px dashed;
  margin: 10px;
  padding: 10px;
  background-color: hwb(30 60% 10%); 
  font-size: 1.3rem;
  font-style: oblique;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out, background-color 0.2s;
}

p:hover {
  transform: scale(1.05);
  background-color: hwb(30 50% 0%);
}

p.guia {
  text-align: center;
  color: hwb(30 25% 20%); /* Beige suave */
}


@media (max-width: 600px) {
  p {
    width: 100%;
    height: auto;
  }
  h1 {
    font-size: 2rem;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  p {
    width: 45%;
  }
}
