table {
  border-collapse: collapse; 
}

td, tr{
  width: 5px;   
  height: 5px;
  border: black .5px solid;
}

.blanco {
  background-color: white;
}

.negro{
  background-color: black;
  
}
